html, body {
	height: 100%;
	font-size: 16px;
	background: #e2e6e9; /* url('../img/pattern.jpg') center center;*/
	font-family: 'Archivo', sans-serif;
}

/* SECTION COVER */
#cover {
	height: 100%;
	background: url('../img/bkgd.jpg') center;
	background-size: cover;
}

.wall-sticker{
	font-size: 1rem;
	color: white;
	font-family: 'Montserrat', sans-serif;
	background: rgba(0,0,0,0.4);
	padding: 15rem 1rem 1rem;
	height: 100%;
}
.wall-sticker h1{
	display: inline;
}
.wall-sticker p{
	margin-bottom: 0;
}
.wall-sticker hr{
	margin-top: 0;
}
.btn-lg {
	background-color: transparent;
	border-radius: 5px;
	border: 1px solid rgba(71,118,122, 1);
}
.btn-lg:hover, .btn-lg:active, .btn-lg:focus {
	background-color: rgba(71,118,122, 1);
	border: 1px solid rgba(71,118,122, 0);
}

.motto {
	font-family: 'Montserrat', sans-serif;
	font-size: 6rem;
	margin-top: 150px;
	margin-left: 200px;
	text-align: center;
}
.fa-chevron-down {
	font-size: 3rem;
	color: white;
}
.fa-chevron-down:hover {
	color: rgba(71,118,122, 1);
	transition: 0.3s;
}
