html, body {
	height: 100%;
	font-size: 16px;
	background: #e2e6e9; /* url('../img/pattern.jpg') center center;*/
	font-family: 'Archivo', sans-serif;
}
.lightBlue {
	color: #8ec1c0;
}

/* Cover */
#cover {
	height: 100%;
	background: url('../img/bkgd.jpg') center;
	background-size: cover;
}

/* Wall Sticker */
.wall-sticker{
	font-size: 1rem;
	color: white;
	font-family: 'Montserrat', sans-serif;
	background: rgba(0,0,0,0.4);
	padding: 15rem 1rem 1rem;
	height: 100%;
}
.wall-sticker p{
	margin-bottom: 0;
}
.wall-sticker hr{
	margin-top: 0;
}
.btn-lg {
	background-color: transparent;
	border-radius: 5px;
	border: 1px solid rgba(142, 193, 192, 1);
}
.btn-lg:hover, .btn-lg:active, .btn-lg:focus {
	background-color: rgba(142, 193, 192, 1);
	border: 1px solid rgba(71,118,122, 0);
}

/* Motto */
.motto {
	font-family: 'Montserrat', sans-serif;
	font-size: 6rem;
	margin-top: 150px;
	margin-left: 200px;
	text-align: center;
}
.fa-chevron-down {
	font-size: 3rem;
	color: white;
}
.fa-chevron-down:hover {
	color: rgba(142, 193, 192, 1);
	transition: 0.3s;
}


/* NAVBAR */
.navbar {
	background-color: #2f3a3a;
}
.navbar-brand {
	font-family: 'Montserrat', sans-serif;
	padding-right: 15px;
}
#main-nav li a {
	border-bottom: 1px solid transparent;
	color: silver
}
#main-nav li a:hover  {
	border-bottom: 1px solid rgba(142, 193, 192, 1);
	transition: 0.5s;
}

/* Features */
.section-features {
	padding: 5rem 0;
	background: url('../img/pattern.jpg') center center;
}
.square {
	text-align: center;
}
.square i {
	margin-top: 5rem;
	margin-bottom: 1rem;
	transition: 0.3s;
}
.square i:hover {
	color: rgba(142, 193, 192, 1);
	transition: 0.3s;
}
.square p {
	padding-top: 1rem;
	font-size: 1.2rem;
}
.square hr {
	border-top: 1px solid rgba(142, 193, 192, 1);
	width: 150px;
}
